@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    width: 47px;
    height: 47px;
    transition: all .5s;

    &.link:hover {
      opacity: .4;
    }
  }

  &__info {
    &-title {
      max-width: 600px;
      font-size: 100px;
      margin-bottom: 20px;
      letter-spacing: .9px;
      transition: text-shadow .3s ease-out;
      font-family: PT Mono, PT Serif, serif, Helvetica, system-ui;
    }

    &-block {
      p {
        max-width: 650px;
        font-size: 29px;
        line-height: 61px;
        letter-spacing: -1px;
        font-family: PT Mono, sans-serif;

        &.links {
          margin-bottom: 20px;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }

        a {
          color: #37aed5;
          font-size: 26px;
          text-decoration: underline;
        }
      }
    }

    &-stack {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media (max-width: 700px) {
  .home__info-title {
    font-size: 80px;
  }

  .home__info-block {
    p {
      font-size: 25px;
      line-height: 50px;
    }
  }
}

@media (max-width: 450px) {
  .home__info-title {
    font-size: 50px;
  }

  .home__info-block {
    p {
      font-size: 21px;
      line-height: 40px;
    }

    p + p {
      margin-bottom: 30px;
    }

    .links {
      a {
        display: block;
        width: 100%;
      }
    }
  }
}