@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    width: 47px;
    height: 47px;
    transition: all .5s;

    &.link:hover {
      opacity: .4;
    }
  }

  &__info {
    &-title {
      max-width: 600px;
      font-size: 100px;
      margin-bottom: 20px;
      letter-spacing: .9px;
      transition: text-shadow .3s ease-out;
      font-family: PT Mono,PT Serif,serif,Helvetica,system-ui;
    }

    &-block {
      p {
        max-width: 650px;
        font-size: 29px;
        line-height: 61px;
        letter-spacing: -1px;
        font-family: PT Mono, sans-serif;

        &.links {
          margin-bottom: 20px;

          a + a {
            margin-left: 12px;
          }
        }

        a {
          color: #37aed5;
          font-size: 26px;
          text-decoration: underline;
        }
      }
    }

    &-stack {
      display: flex;
      justify-content: space-between;
    }
  }
}