.contacts {
  padding: 100px 0;
  display: flex;
  justify-content: center;

  &__inner {
    width: 100%;

    &-headline {
      color: #147efb;
      font-size: 27px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-title {
      font-size: 48px;
      margin-bottom: 40px;
      font-family: Poppins, sans-serif;
      font-weight: 600;
    }

    &-list {

      li {
        margin-bottom: 12px;
        display: flex;
        align-items: center;

        .link {
          display: flex;
          align-items: center;
          transition: all .3s;

          &:hover {
            opacity: .3;
          }
        }

        .text {
          margin-left: 20px;
        }
      }
    }
  }
}