.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e2f30;
  padding: 100px 0;

  &__inner {

    &-title {
      font-size: 48px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 40px;
      font-family: Poppins, sans-serif;
    }

    &-list {

    }
  }

  &__notfound {
    font-size: 60px;
  }
}

.project {
  display: flex;

  &__image {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 1px solid #fff;
    margin-right: 20px;
    transition: all .3s;
    background-size: cover;
    background-position: center;

    &.wawe {
      background-image: url("../../images/projects/wawe.png");
    }

    &:hover {
      transform: scale(.95);
    }
  }

  &__box {
    position: relative;

    &-info {
      margin-bottom: 20px;

      &__title {
        margin-bottom: 12px;
      }

      &__text {

      }
    }

    &-links {
      display: flex;
      position: absolute;
      bottom: 5px;

      li {
        transition: all .3s;

        & + li {
          margin-left: 40px;
        }

        &:hover {
          opacity: .3;
        }

        a {
          display: flex;
          color: #ddd;


          .icon {
            width: 24px;
            height: 24px;
            margin-right: 12px;
            fill: #ddd;
          }
        }
      }
    }
  }
}